<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="plugin-section" type="Yuanfeng.PluginEngine.PluginsSection,Yuanfeng.PluginEngine"/>
  </configSections>
  <plugin-section version="1.0" multiple="true" dir="./" filter="ImageUnit,ExternalUnit">
    <plugins>
      <add key="key1" version="1.0.0.0" assembly="Yuanfeng.PluginEngine1"/>
      <add key="key2" version="1.0.0.1" assembly="Yuanfeng.PluginEngine2"/>
      <add key="key3" version="1.0.0.1" assembly="Yuanfeng.PluginEngine3"/>
    </plugins>
  </plugin-section>
</configuration>