<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="plugin-section" type="Yuanfeng.PluginEngine.PluginsSection,Yuanfeng.PluginEngine"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WeifenLuo.WinFormsUI.Docking" publicKeyToken="5cded1a1a0a7b481" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <plugin-section version="1.0" multiple="true" dir="./">
    <plugins>
      <add key="key1" version="1.0.0.0" assembly="Yuanfeng.PluginEngine1"/>
      <add key="key2" version="1.0.0.1" assembly="Yuanfeng.PluginEngine2"/>
      <add key="key3" version="1.0.0.1" assembly="Yuanfeng.PluginEngine2"/>
      <add key="key4" version="1.0.0.1" assembly="Yuanfeng.PluginEngine2"/>
      <add key="key5" version="1.0.0.1" assembly="Yuanfeng.PluginEngine2"/>
      <add key="key6" version="1.0.0.1" assembly="Yuanfeng.PluginEngine2"/>
      <add key="key7" version="1.0.0.1" assembly="Yuanfeng.PluginEngine2"/>
      <add key="key8" version="1.0.0.1" assembly="Yuanfeng.PluginEngine2"/>
    </plugins>
  </plugin-section>
</configuration>